.field-skeleton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .text-container {
    width: calc(100% - 40px - 12px);
    display: flex;
    flex-direction: column;
    .label-skeleton {
      width: 40%;
      height: 18px;
      margin-bottom: 2px;
      border-radius: 4px;
    }
    .text-skeleton {
      width: 80%;
      height: 22px;
      margin-top: 2px;
      border-radius: 4px;
    }
  }
  .icon-skeleton {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding-left: 12px;
  }
}

@media screen and (max-width: 350px) {
  .field-skeleton {
    .text-container {
      .label-skeleton {
        height: 16px;
      }
      .text-skeleton {
        height: 18px;
      }
    }
  }

}
