ion-content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  .container {
    width: 100%;
    height: 100%;
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    .top-container {
      width: 100%;
      padding: 8px 0 24px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      img {
        display: block;
        height: 24px;
        width: 24px;
      }
      .dot-container {
        display: flex;
        align-items: center;
        .dot {
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: var(--ion-color-light);
          margin-right: 16px;
          transition: all .4s ease-in-out;
          &:last-child {
            margin-right: 0;
          }
          &.active {
            background-color: var(--ion-color-medium);
          }
          &.success {
            background-color: var(--ion-color-primary);
          }
        }
      }
    }
    .title-container {
      display: flex;
      align-items: center;
      width: 100%;
      padding-bottom: 8px;
    }
    .swiper-container {
      display: flex;
      flex-direction: column;
      flex: 1;
      width: 100%;
      overflow: visible;
      swiper {
        .swiper-inner-container {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          > p {
            text-align: left;
          }
          > b {
            padding: 8px 0 16px 0;
            text-align: left;
            font-weight: 600 !important;
          }
          .resend-code-container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding-top: 4px;
            p {
              color: var(--ion-color-medium);
            }
            ion-button {
              margin-left: 4px;
            }
          }
          .form-container {
            width: 100%;
            form {
              width: 100%;
              display: flex;
              flex-direction: column;
              password-input {
                display: flex;
                width: 100%;
                margin-top: 16px;
                &:last-child {
                  margin: 24px 0;
                }
              }
              text-input {
                display: flex;
                width: 100%;
                margin: 0 0 24px 0;
                &:first-child {
                  margin-top: 16px;
                }
              }
            }
          }
          .disclaimer {
            color: var(--ion-color-medium);
          }
        }
      }
    }
    .bottom-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      button-base {
        width: 100%;
      }
      .brand-container {
        padding-top: 24px;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        img {
          display: block;
          width: 20px;
          height: 20px;
          margin-right: 8px;
        }
      }
    }
  }
}
