ion-item {
  width: calc(210px + 12px + 12px);
  border-radius: 28px;
  .event-container {
    border-radius: 28px;
    width: calc(210px + 12px + 12px);
    padding: 12px;
    background: var(--ion-color-light);
    .image-container {
      position: relative;
      width: 210px;
      height: 240px;
      border-radius: 16px;
      background-color: var(--ion-color-secondary);
      margin-bottom: 8px;
      overflow: hidden;
      .date-container {
        position: absolute;
        top: 8px;
        right: 8px;
        border-radius: 8px;
        padding: 4px 8px;
        background-color: rgba(var(--ion-color-light-rgb), 0.8);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        b {
          font-size: 20px;
          line-height: 24px;
          color: var(--ion-color-secondary);
          font-weight: 800;
          margin: 0;
        }
        p {
          font-size: 12px;
          line-height: 16px;
          color: var(--ion-color-secondary);
          font-weight: 400;
          margin: 0;
          text-transform: uppercase;
        }
      }
      base64 {
        width: 100%;
        height: 100%;
        display: block;
      }
    }
    .text-container {
      p {
        padding-bottom: 4px;
      }
    }
  }
}
